.todo {
  width: 600px;
  min-height: 700px;
  border-radius: 20px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 44px;
}
.todo-header {
  margin-top: 84px;
  color: #002765;
  font-size: 36px;
  font-weight: 600;
  line-height: 34px;
}
.todo-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.todo-input {
  border-radius: 50px;
  background-color: #edeef0;
  border: none;
  outline: none;
  width: 576px;
  height: 80px;
  padding-left: 35px;
  font-size: 20px;
}
.todo-add-btn {
  border-radius: 50px;
  background-color: #2ecc71;
  width: 187px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
}
